@tailwind base;
@tailwind components;
@tailwind utilities;

.main-content {
    flex: 1;
    margin-left: 33px;
    margin-top: 12px;
}

@media (max-width: 1200px) {
    .main-content {
        margin-left: 63px;
    }
}

@media (max-width: 992px) {
    .main-content {
        margin-left: 58px;
    }
}

@media (max-width: 768px) {
    .main-content {
        margin-left: 50px;
    }
}

@media (max-width: 576px) {
    .main-content {
        margin-left: 45px;
    }
}



