@tailwind base;
@tailwind components;
@tailwind utilities;

/* Base styles for .main-content */
.main-content {
    /* flex: 1; */
    /* margin-left: 4.8rem; */
    /* margin-top: 3.7rem; */
    /* border-left: 0.2rem solid red; */
    transition: margin-left 0.3s ease; /* Smooth transition */
    background-color: #F5F6FE;
    height: 100vh;
}

@media (max-width: 1536px) {
    .main-content {
        /* margin-left: 18.1rem; */
        /* margin-top: 3.5rem; */
    }
}

@media (max-width: 1280px) {
    .main-content {
        /* margin-left: 16.6rem; */
    }
}

@media (max-width: 1024px) {
    .main-content {
        /* margin-left: 14.6rem; */
        /* margin-top: 2.8rem; */
    }
}

@media (max-width: 767px) {
    .main-content {
        /* margin-left: 12.8rem; */
        /* margin-top: 2.6rem; */
        /* margin-left: 0; */
    }
}

@media (max-width: 640px) {
    .main-content {
        /* margin-left: 11.6rem;  */
        /* margin-top: 2.28rem; */
    }
}

@media (max-width: 480px) {
    .main-content {
        /* margin-left: 10.6rem; */
        /* margin-top: 2.18rem; */
    }
}
